permissions:
  contents: read

on:
  workflow_call:
    inputs:
      deploy-envs:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      prod:
        required: false
        type: boolean
        default: false


jobs:
  # Trigger private repo to deploy
  trigger_deploy:
    if: github.actor != 'mindsdbadmin'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deploy-env: ${{ fromJson(inputs.deploy-envs) }}
    concurrency:
      group: deploy-${{ matrix.deploy-env }}
      cancel-in-progress: false
    environment:
      name: ${{ matrix.deploy-env }}
      url: ${{ vars.MDB_ENV_URL }}
    steps:
    - uses: FranzDiebold/github-env-vars-action@v2
    - name: Notify of deployment starting
      id: slack
      uses: mindsdb/github-actions/slack-deploy-msg@main
      with:
        channel-id: ${{ secrets.SLACK_DEPLOYMENTS_CHANNEL_ID }}
        status: "started"
        color: "#0099CC"
        env-name: ${{ matrix.deploy-env }}
        env-url: ${{ vars.MDB_ENV_URL }}
        slack-token: ${{ secrets.GH_ACTIONS_SLACK_BOT_TOKEN }}
